<div class="sliding-window">
  <div class="content-view">
    <div class="select-module">
        <div class="close-box">
            <a></a>
        </div>
        <div class="menu-box">
            <ul>
                <li class="item item-current">
                    <a href="#">
                        <img src="/images/home_btn_1.png" alt="">
                    </a>
                </li>
                <li class="item ">
                    <a href="#">
                        <img src="/images/home_btn_2.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-box scroll-view">
            <ul class="nav-local">
                <li>
                    <a href="#">三亚 </a>
                </li>
                <li>
                    <a href="#">丽江 </a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">大理 </a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉 </a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
                <li>
                    <a href="#">香格里拉</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>
<div class="app-top">
  <div class="relative-box">
    <span class="lef"></span><span class="rig"></span>
  </div>
</div>
