<div class='sliding-window'>
  <div class='content-view'>
    <div class='scroll-view'>
      <ul class='nav-local'>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
        <li><a>作品欣赏</a></li>
      </ul>
    </div>
  </div>
</div>
