<!DOCTYPE html>
<html>
  <head>
    <% include modules/meta.html%>
    <link rel="stylesheet" href="/script/vendors/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="/script/vendors/uikit/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/script/vendors/uikit/css/components/slidenav.min.css">
    <link rel="stylesheet" href="/script/vendors/uikit/css/components/slidenav.gradient.min.css">
    <link rel="stylesheet" href="/script/vendors/mediaelement/mediaelementplayer.min.css">
    <link rel="stylesheet" href="/styles/app-lp.css?t=3">
    <!--[if gte IE 9]><!-->
    <script src="/script/jquery-2.2.0.min.js"></script>
    <script src="/script/vendors/uikit/js/uikit.min.js" charset="utf-8"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="/script/jquery-1.12.1.min.js" charset="utf-8"></script>
    <script src="/script/html5shiv.min.js" charset="utf-8"></script>
    <script src="/script/es5-shim.min.js" charset="utf-8"></script>
    <script src="/script/es5-sham.min.js" charset="utf-8"></script>
    <script src="/script/console-polyfill.js" charset="utf-8"></script>
    <script src="/script/vendors/uikit/js/uikit-ie8.min.js" charset="utf-8"></script>
    <![endif]-->
    <script src="/script/react.js" charset="utf-8"></script>
    <script src="/script/react-dom.js" charset="utf-8"></script>
    <script src="/script/adaptation.min.js" charset="utf-8"></script>
    <script src="/script/vendors/slider.js" charset="utf-8"></script>
    <script src="/script/vendors/jquery.tinyscrollbar.js" charset="utf-8"></script>
  	<script src="/script/vendors/mediaelement/mediaelement-and-player.js"></script>
    <script src="//api.video.taobao.com//video/getPlayerJS"></script>
    <!--[if gte IE 8]><!-->
    <script src='/script/store.min.js' charset='utf-8'></script>
    <!--<![endif]-->
    <!--[if lt IE 8]>
    <script src='/script/store+json2.min.js' charset='utf-8'></script>
    <![endif]-->
    <script src="/script/util.js?t=1" charset="utf-8"></script>
  </head>
  <body>
    <div id='root' class='<%= platformClass %>'>
      <div class='app-container'>
        <div class='relative-box unpd-box' id='J_app_view'>
          <div id='J_Nav'>
            <% include modules/header.html %>
          </div>
          <div class='<%= wrapperClass %>pd-box'>
            <div class='content-view'>
              <div class='scroll-view'>
                <div id='J_Main'><%- body %></div>
              </div>
            </div>
          </div>
        </div>
        <% include modules/toolbar.html %>
        <% include modules/footer.html %>
      </div>
    </div>
    <script src='/script/vendors/mousewheel.js' charset='utf-8'></script>
    <script src='/script/vendors/scroll.js?t=1' charset='utf-8'></script>
    <% include modules/thirdpartservice.html %>
  </body>
</html>
