<!DOCTYPE html>
<html>
  <head>
    <% include modules/meta.html%>
    <link rel="stylesheet" href="//img2.jsbn.com/trip/assets/script/vendors/uikit/css/uikit.min.css">
    <link rel="stylesheet" href="//img2.jsbn.com/trip/assets/script/vendors/uikit/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="//img2.jsbn.com/trip/assets/script/vendors/uikit/css/components/slidenav.min.css">
    <link rel="stylesheet" href="//img2.jsbn.com/trip/assets/script/vendors/uikit/css/components/slidenav.gradient.min.css">
    <!--<link rel="stylesheet" href="//img2.jsbn.com/trip/assets/script/vendors/mediaelement/mediaelementplayer.min.css">-->
    <link rel="stylesheet" href="//img2.jsbn.com/trip/assets/styles/app-lp.css?t=5">
    <!--[if gte IE 9]><!-->
    <script src="//img2.jsbn.com/trip/assets/script/jquery-2.2.0.min.js"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/uikit.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/core/modal.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/components/lightbox.min.js" charset="utf-8"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="//img2.jsbn.com/trip/assets/script/jquery-1.12.1.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/html5shiv.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/es5-shim.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/es5-sham.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/console-polyfill.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/core/modal.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/components/lightbox-ie8.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/uikit/js/uikit-ie8.min.js" charset="utf-8"></script>
    <![endif]-->
    <script src="//img2.jsbn.com/trip/assets/script/react.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/react-dom.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/adaptation.min.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/slider.js" charset="utf-8"></script>
    <script src="//img2.jsbn.com/trip/assets/script/vendors/jquery.tinyscrollbar.js" charset="utf-8"></script>
  	<!--<script src="//img2.jsbn.com/trip/assets/script/vendors/mediaelement/mediaelement-and-player.min.js"></script>-->
    <!--[if gte IE 8]><!-->
    <script src='//img2.jsbn.com/trip/assets/script/store.min.js' charset='utf-8'></script>
    <!--<![endif]-->
    <!--[if lt IE 8]>
    <script src='//img2.jsbn.com/trip/assets/script/store+json2.min.js' charset='utf-8'></script>
    <![endif]-->
    <script src="//img2.jsbn.com/trip/assets/script/util.js?t=1" charset="utf-8"></script>
  </head>
  <body>
    <div id='root' class='<%= platformClass %>'>
      <div class='app-container'>
        <div class='relative-box unpd-box' id='J_app_view'>
          <div id='J_Nav'>
            <% include modules/header.html %>
          </div>
          <div class='<%= wrapperClass %>pd-box'>
            <div class='content-view'>
              <div class='scroll-view'>
                <div id='J_Main'><%- body %></div>
              </div>
            </div>
          </div>
        </div>
        <% include modules/toolbar.html %>
        <% include modules/footer.html %>
      </div>
    </div>
    <script src='//img2.jsbn.com/trip/assets/script/vendors/mousewheel.js' charset='utf-8'></script>
    <script src='//img2.jsbn.com/trip/assets/script/vendors/scroll.js?t=1' charset='utf-8'></script>
    <% include modules/thirdpartservice.html %>
    <!--<script src="//api.video.taobao.com//video/getPlayerJS"></script>-->
  </body>
</html>
